<%= form_for(@book, :html => { :class => "form-horizontal", :role => "form", multipart: true }) do |f| %>
  <% if @book.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h4>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :author, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :author, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :editorial, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :editorial_id, Editorial.all, :id, :editorial, {} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :original_title, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :original_title, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :translation, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :translation, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :edition, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :edition, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :edition_date, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :edition_date, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :edition_place, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :edition_place, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :publication_year, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :publication_year, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :isbn, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :isbn, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.file_field :image, :class => "form-control" %>
    </div>
  </div>
  <% if @book.image.present? %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= link_to image_tag(@book.image.url(:large)), @book.image.url %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
